.container {
    padding: 20px;
    background-color: #f0f2f5;
}

.title {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}

.viewDetailsButton {
    background-color: #4CAF50; /* Example green color */
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.viewDetailsButton:hover {
    background-color: #45a049;
}
