.container {
  display: flex;
  min-height: 100vh;
  background-color: var(--background-light);
  color: var(--text-color-dark);
}

.mainContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  transition: margin-left 0.3s ease;
}

.content {
  flex-grow: 1;
  padding: 20px;
  background-color: var(--background-light);
}

/* Dark mode styles */
html.dark .container {
  background-color: var(--background-dark);
  color: var(--text-color-light);
}

html.dark .content {
  background-color: var(--background-dark);
}
